.page-packs .page-packs {
    background-color: #212121;
}
.page-packs .packs-container {
    background-color: var(--color-background);
    padding-block: 2rem;
}
.page-packs .packs-container {
    padding-inline: 1rem;
}
.page-packs .comingsoon-container .pack {
    text-align: center;
    padding-top: 10rem;
}
.page-packs .packs-container .packs button {
    background-color: rgb(255,0,0);opacity:0.6;
    color: rgb(255,255,255);opacity:0.6;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
    cursor: pointer;
}
.page-packs .packs-container .packs .One .society {
    paddingtop: 2rem;
    height: 20px;
}
.page-packs .packs-container .packs .One .ts2 {
    paddingtop: 2rem;
    height: 20px;
}
.page-packs .packs-container .packs .One .amethyst {
    paddingtop: 2rem;
    height: 20px;
}
